#print_option li {
    float: right;
    text-align: center;
    height: 100px;
    position: relative;
}

#sidebar {

    right: 0;
}

#print_option li:first-child span::before {
    position: absolute;
    content: "";
    width: 61px;
    height: 137px;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    border-top: 3px solid #fff;
    border-radius: 25px 25px 0 0;
    left: -16px;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    top: -56px;
}
.select_panetry {
    color: #fff;
    font-size: 25px;
    position: relative;
    float: right;
    top: 0px;
    font-weight: 700;
    line-height: 27px;
    margin-right: 15px;
    cursor: pointer;
}

#print_option li:first-child::after {
    border-bottom: 3px solid #fff;
    border-left: inherit;
    border-right: 3px solid white;
    border-radius: 0 0 9px 0px;
    content: '';
    height: 22px;
    position: absolute;
    left: -31px;
    right: inherit;
    bottom: 11px;
    width: 18px;
    z-index: 1;
   
}
#print_option {
    padding-left: inherit;
    padding-right: 50px;
}
#print_option li:first-child {
    margin-top: -34px;
    margin-left: 30px !important;
}
.select_panetry i {
   
    left: inherit;
    right: -38px;
    transform: rotate(
180deg
);
}


.side-menu ul {
   
    left: inherit;
    right: -10em;
}

.side-menu ul li:hover {

    -webkit-transform: translateX(-10em);
    transform: translateX(-10em);
}

.side-menu ul li a {
   
      text-align: right;
    
    
}
.side-menu ul li span {
  
    right: inherit;
    left: 10px;
   
}
#sidebar.fullmenu ul {
    width: 100%;
    left: inherit;
    right: 0;
}
#sidebar.fullmenu ul li span {
    left: auto;
    right: 10px;
}

#print_option li:last-child span {
 
    margin-left: inherit;
    margin-right: 70px;
}
.logo {
    float: right;
   
}
.text-right {
    text-align: left!important;
}
.footer-insta-icon {
    float: left;
}
footer {
    margin-top: 15px;
    width: 100%;
    float: right;
}
footer li {
    display: inline-block;
    float: right;
}

#form-panel {
   
    right: inherit;
    left: -1500px;
    transition: left ease-in-out 0.6s;
  
}

#form-panel.showing {
    right: inherit;
    left: 0;
}
#form-site-header #form-button-toggle {
     right: inherit;
    left: 30px;
 
}
#content {
    padding-left: inherit;
    padding-right: 75px;
}

#print_option li:nth-child(2n+2) {
  
    width: 60px;
}

#print_option li:last-child span {
    margin-left: inherit;
    margin-right: 50px;
}

.dropdown-menu.dropdown-menu-right.show {

    transform: translate3d(0, 34px, 0px) !important;
   
}

#sidebar .fa-times {
    float: left;
   
}
#flow_option li {
    float: right;
    
}

#flow_option li .img_box img {
      z-index: 9;
    position: relative;
}

#flow_option h4::before {
   
    right: inherit;
      left: -50%;
}

#flow_option li::after {

    right: 112px;
    bottom: -56px;
    width: 60px;

}
#flow_option li:before {
  
    top: 30px;
    width: 60px;
    z-index: 0;
    right:55px;
    border-left: 3px solid #29a9cc;
}
.modal-header .close {
    padding: 0;
    margin: 0;
    float: left;
}
#flow_option li:last-child span {
  
   
    
    margin-top: 40px;
    line-height: 55px;
  
}

 .pink_print li:last-child span::before, .yellow-print li:last-child span::before, .blue_print li:last-child span::before {
  
    top: -4px;
    
}
.notes_product.content li {
  
    float: right;
}
.product_box {
     padding: 0 10px;
}
.save-order-area h5 {
    text-align: right;
    width: 100%;
    float: right;
}
.save-order-area ul li {
   
    float: right;
}
.save-order-content a {
 
    right: inherit;
       left: 6px;
    transform: rotate(
180deg
);
}

.proposal-head-bar form button {
       border-radius: 50px 0px 0px 50px;
    border-left: inherit;
    border-right: 2px solid #000;
      right: inherit !important;
      left: 0;
}
.cart_product_box .cart_content h3 {
    
    text-align: right;
}

.cart_product_box .cart_content h2 {
    margin: 0px 0 0;
    text-align: right;
}
.cart_product_box .cart_content {
    display: inline-block;
    width: 85%;
}

.cart_product_box .cart_icon {
    display: inline-block;
    width: 54px;
    text-align: right;
}

.cart_product_box > a > i {
    transform: rotate(
180deg
);
}
.cart_product_box > a {
    
    left: 15px;
}
#cart .modal-content {
    background: #3b95cc;
    border-radius: 4px 20px 20px 5px;
}

.setting_page .tabcontent {
    float: right;
       text-align: right;
}
.edit1_address h4 span {
    float: left;
    font-size: 20px;
    margin-top: 3px;
}

.setting_page .tab button {
   
    text-align: right;
}
.setting_page .tab {
    float: right;
 
}

.head_search_bar button {
    
    border-radius: 0px 50px 50px 0px;
    border-right: inherit;
    border-left: 2px solid #000;
    right: 0;
}
.head_search_bar button i {
    transform: rotate(
180deg
);
}

.select_panetry_mode {
       float: right;
}

.select_tooltip {
    float: left;
 
}

.select_panetry_mode {
    float: right;
    width: 100%;
}
.select_panetry_mode p {
    text-align: right;
}

.ptype {
    
    right: inherit;
    left: -53px;
   
}
.psize {
    right: inherit;
    left: -53px;
}
.pdesign {
    right: inherit;
    left: -53px;
}
.pcopy {
    right: inherit;
    left: -53px;
}

.input-number-area h5 {
   
    text-align: right;
  
}
.input-number-area .modal-header button {
  
    right: inherit;
    left: 10px;
  
}
.select-area-inner .select-options li {

    padding: 12px 11px;
 
}
.pro_product_box .col-sm-4 {
    padding: 0;
    padding-left: 15px;
}

ul.pro_product_col1 li {
    float: right;
    margin-right: 10px;
}

.order_detail_inner {
    
    margin-left: inherit;
    margin-right: 200px;
     text-align: right;
}
.order_detail_list h2 {
   
    text-align: right;
}
.order_detail_list .table td {
   
    text-align: left;
}

 .order_detail_list .table th {
  
    text-align: right;
}
.order_detail_inner .btn.blue-btn {
  
    text-align: right;
}

.order_detail_inner .btn {
     text-align: right;
   
}
.order_detail_inner .btn span {
    float: left;
    
}

.order_address {
    text-align: right;
}
.product_order_outer h3 {
    
    text-align: right;
}

.product_order_outer h5 {
  
    text-align: right;
}
#notes_selection .product_img {
    border-radius: 0px 30px 30px 0px;
  
}

#notes_div .product_box {
    padding: 0 0;
    padding-left: 10px;
}
.product_content {
   
    text-align: right;
}

.notes_detail_box {
   
    float: right;
  
}

.notes_detail #flow_option {
   
    left: 34px;
  
}

.order_btn {
   
    float: right;
   
}
.pcolor {
    right: inherit;
    left: -45%;
}

span.secound-id {
    float: left;
    
    text-align: left;
}
.all-personal-details ul li {
    padding: 7px 0;
    width: 100%;
    float: right;
}

span.first-id {
  
    text-align: right;
    float: right;
}

#account .btn.primary-btn {
    right: 16px;
}
#account h2 button {
  
    transform: rotate(
180deg
);
}
#account h3 {
    color: #fff;
    font-size: 22px;
    line-height: 25px;
    margin: 25px 0 25px;
    text-align: right;
}
.genderDiv {
    float: right;
    text-align: right;
}
.psides {
    right: inherit;
    left: -46%;
}

.pbinding {
    right: inherit;
    left: -45%;
}
.btn_outer .btn {
  
    right: inherit;
    left: 6px;
    top: 5px;
   
}
.btn_outer .btn i {
    transform: rotate(
180deg
) !important;
}





