@media only screen and (max-width:767px) {
#print_option li {
   
    text-align: right !important;
   
}

#print_option li:first-child span::before {
    border-left: 3px solid white !important;
    border-right: none !important;
    border-radius: 25px 0px 0px 25px !important;
    left: inherit !important;
    right: 120px;
}

img.svg-c-img {
    left: inherit !important;
    right: 110px;
}
.select_panetry {
   
    float: right !important;
   
}

.select_panetry {

    margin-right: 0 !important;
    top: 34px !important;
    margin-left: 30px;
}
#print_option li:first-child::after {
    border-bottom: inherit;
    border-left: none !important;
    border-radius: 0 9px 0px 0px !important;
    right: 95px !important;
    left: inherit !important;
}
#print_option li:nth-child(2n+2) {
    
    right: 95px !important;
}
#print_option h4, #print_option h5 {
  
    right: 95px !important;
}
#print_option h4 span {
 
    padding-right: 30px;
}

#print_option li:hover img {
    margin-top: -2px;
    margin-left: 0 !important;
    margin-right: 200px !important;
}
.line {

    border-right: none !important;
    border-top: 3px solid #fff;
    border-bottom: 3px solid white;
    border-left: 3px solid white !important;
      border-radius: 80px 0px 0px 80px !important;
     left: inherit !important;
    direction: rtl;
    right: 107px;
}
#print_option.custom #start:after, #print_option.custom h4, #print_option.custom .line, #print_option.custom li:nth-child(2n+2), #print_option.custom li:first-child span::before {
    border-color: #2995cc !important;
}

li#custom:after {

    left: inherit !important;
    transform: rotate(
-90deg
);
    right: 94px !important;
    bottom: -4px;
    width: 15px;
    z-index: 1;
    opacity: 0;
}
li#quick:after {
     left: inherit !important;
    transform: rotate(
-90deg
);
    right: 94px !important;
    bottom: -4px;
    width: 15px;
    z-index: 1;
    opacity: 0;
}

li#translation:after {
       left: inherit !important;
    transform: rotate(
-90deg
);
    right: 94px !important;
    bottom: -4px;
    width: 15px;
    z-index: 1;
    opacity: 0;
}
li#notes:after {
      left: inherit !important;
    transform: rotate(
-90deg
);
    right: 94px !important;
    bottom: -4px;
    width: 15px;
    z-index: 1;
    opacity: 0;
}
li#custom:before {
  

  
    left: inherit !important;
    bottom: -62px;
    transform: rotate(
90deg
);
    right: 94px !important;
  
}

li#quick:before {
      left: inherit !important;
    bottom: -62px;
    transform: rotate(
90deg
);
    right: 94px !important;
}

li#translation:before {
     left: inherit !important;
    bottom: -62px;
    transform: rotate(
90deg
);
    right: 94px !important;
}
li#notes:before {
        left: inherit !important;
    bottom: -62px;
    transform: rotate(
90deg
);
    right: 94px !important;
}

#print_option h5 {
  
    left: inherit !important;
  
    right: 0 !important;
}

#print_option.quick #start:after, #print_option.quick h4, #print_option.quick .line, #print_option.quick li:nth-child(2n+2), #print_option.quick li:first-child span::before {
    border-color: #E6D821 !important;
}

#print_option.translation #start:after, #print_option.translation h4, #print_option.translation .line, #print_option.translation li:nth-child(2n+2), #print_option.translation li:first-child span::before {
    border-color: #D50880 !important;
}
#print_option li:last-child span {
    margin-left: inherit;
    margin-right: -68px;
}



}

@media only screen and (max-width:480px) {
    
#content {
    padding-left: 0 !important;
    padding-right: 60px;
}
#print_option {
    padding-left: 0 !important;
    padding-right: 15px !important;
}
.select_panetry i {
    left: inherit;
    right: 128px !important;
    top: -43px !important;
    transform: rotate( 
90deg
 );
}
.side-menu ul {
  
    left: inherit !important;
    right: -6.8em;
}
.side-menu ul li:hover {
    background-color: #088DB3;
    -webkit-transform: translateX(-6.8em);
    transform: translateX(-6.8em) !important;
}

}

@media only screen and (max-width:375px) {

    
}



/*large-laptop-screen-start*/
@media only screen and (min-width: 1400px) and (max-width: 1600px){

}
/*large-laptop-screen-end*/


/*laptop-screen-start*/
@media only screen and (min-width: 1200px) and (max-width: 1399px){

}
/*laptop-screen-end*/


/*mini-laptop-screen-start*/
@media only screen and (min-width: 992px) and (max-width: 1199px){
    
#print_option li:first-child span::before {
    left: -16px !important;
}
#flow_option h4::before {
    
    bottom: -56px;
    right: inherit !important;
    left: -50%;
}

#print_option li:nth-child(2n+2) {
    width: 40px !important;
}
#print_option li:last-child span {
    margin-left: inherit;
    margin-right: 25px !important;
}

}
/*mini-laptop-screen*/



/*tablet-start*/
@media only screen and (min-width: 768px) and (max-width: 991px){
    
    #print_option li:first-child span::before {
   
    left: -16px !important;
   
}
.side-menu ul li span {
    right: inherit;
    left: 20px;
}
#print_option li:last-child span {
    margin-left: inherit;
    margin-right: 25px !important;
}
#content {
    padding-left: 0 !important;
    padding-right: 56px;
}




}
/*tablet-end*/

@media only screen and (min-width: 768px) and (max-width: 840px){

.select_panetry {
    font-size: 15px;
    margin-right: 0 !important;
    line-height: 20px;
    top: -10px;
}
#print_option li:nth-child(2n+2) {
    width: 16px !important;
}

}

/*mobile-screen-start*/
@media only screen and (min-width: 300px) and (max-width: 767px){

}
/*mobile-screen-end*/