@media only screen and (max-width:767px) {
    .main_content {
    min-height: 100%;
    padding: 0 0 20px;
    position: relative;
}
#print_option {
    padding-left: 70px;
    position: relative;
    top: inherit;
    left: inherit;
    transform: inherit;
    width: 100%;
}
#print_option li {
    float: inherit;
    text-align: left;
    height: 60px;
    position: relative;
    display: block;
    width: 100%;
}
#print_option li:first-child {
    margin-top: 0;
}

.select_panetry {
    color: #fff;
    font-size: 18px;
    position: relative;
    float: left;
    top: 0;
    font-weight: 700;
    line-height: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.select_panetry {
    font-size: 18px;
    top: 0;
    line-height: 20px;
    margin-right: 30px;
    top: 24px;
}
span.svg-img svg {
    width: 62px;
}
#print_option li:first-child span::before {
    position: absolute;
    content: "";
    width: 110px;
    height: 50px;
    border-left: none;
    border-right: 3px solid #fff;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-radius: 0px 25px 25px 0;
    left: 120px;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    top: 42px;
}
#print_option li:first-child::after {
    border-bottom: inherit;
    border-left: 3px solid #fff;
    border-top: 3px solid white;
    border-radius: 9px 0px 0px 0px;
    content: '';
    height: 28px;
    position: absolute;
    right: inherit;
    left: 97px;
    bottom: -57px;
    width: 30px;
    z-index: 1;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

#print_option li:nth-child(2n+2) {
    -webkit-transition: all 0.6s ease-in-out;
    position: relative;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    border-right: 3px solid #fff;
    border-top: none;
    position: relative;
    top: 55px;
    width: 100px;
}

.line {
    border-left: none;
    border-right: 3px solid #fff;
    border-top: 3px solid #fff;
    border-bottom: 3px solid white;
    position: absolute;
    opacity: 0;
    height: 50px;
    width: 0%;
    bottom: -51px;
    border-radius: 0px 80px 80px 0;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    left: 110px;
}
#print_option li:hover .line {
    opacity: 1;
    height: 50px;
    width: 142px;
}

li#custom:after {
    border-bottom: 3px solid white;
    border-right: none;
    border-left: 3px solid white;
    border-radius: 0 0 0px 5px;
    height: 14px;
    left: 97px;
    bottom: -4px;
    width: 15px;
    z-index: 1;
    opacity: 0;
}

li#custom:hover:after {
    opacity: 1;
    height: 14px;
    width: 15px;
    border-color: #2995cc;
}

li#custom:before {
    border-bottom: none;
    border-left: 3px solid white;
    border-top: 3px solid white;
    border-radius: 5px 0 0px 0px;
    content: '';
    height: 14px;
    position: absolute;
    right: inherit;
    left: 97px;
    bottom: -62px;
    width: 15px;
    z-index: 1;
    opacity: 0;
   
}
li#custom:hover:before {
    opacity: 1;
    height: 14px;
    width: 15px;
    border-color: #2995cc;
}
#print_option h4, #print_option h5 {
    height: 65px;
    font-size: 14px;
    width: 100px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 0;
    border-bottom: none;
    border-right: 3px solid white;
    top: 52px;
}
#print_option h4 span br {
    display: none;
}

#print_option h4 span {
    position: absolute;
    padding-bottom: 20px;
    bottom: 0;
    left: 125px;
    right: 0;
    width: 110px;
    font-size: 14px;
}
#print_option li:hover img {
    margin-top: -2px;
    margin-left: 201px;
}

#print_option h5 {
    top: -32px;
    border: none;
    width: 130px;
    left: -55px;
    font-size: 14px !important;
}

li#quick:hover:after {
    opacity: 1;
    height: 14px;
    width: 15px;
     border-color:#e6d821;
}
li#quick:after {
    border-bottom: 3px solid white;
    border-right: none;
    border-left: 3px solid white;
    border-radius: 0 0 0px 5px;
    content: '';
    height: 14px;
    position: absolute;
    left: 97px;
    bottom: -4px;
    width: 15px;
 
}
li#quick:hover:before {
    opacity: 1;
    height: 14px;
    width: 15px;
    border-color:#e6d821;
}
li#quick:before {
    border-bottom: none;
    border-left: 3px solid white;
    border-top: 3px solid white;
    border-radius: 5px 0px 0px 0px;
    content: '';
    height: 14px;
    position: absolute;
    right: inherit;
    left: 97px;
    bottom: -62px;
    width: 15px;
    z-index: 1;
    opacity: 0;
}

li#translation:hover:after {
    opacity: 1;
    height: 14px;
    width: 15px;
}
li#translation:after {
    border-bottom: 3px solid #d50880;
    border-right: none;
    border-left: 3px solid #d50880;
    border-radius: 0 0 0px 5px;
    content: '';
    height: 14px;
    left: 97px;
    bottom: -4px;
    width: 15px;

  
}

li#translation:hover:before {
    opacity: 1;
    height: 14px;
    width: 15px;
}

li#translation:before {
    border-bottom: none;
    border-left: 3px solid #d50880;
    border-top: 3px solid #d50880;
    border-radius: 5px 0 0px 0px;
    content: '';
    height: 14px;
    position: absolute;
    right: inherit;
    left: 97px;
    bottom: -62px;
    width: 15px;
  
}
 #print_option li:last-child span {
    font-size: 18px;
    height: 130px;
    width: 130px;
    margin-top: 0;
    line-height: 130px;
    background-size: 232px;
    margin-left: 35px;
    text-align: center;
    top: 42px;
}
li#notes:hover:after {
    opacity: 1;
    height: 14px;
    width: 15px;
}

li#notes:after {
    border-bottom: 3px solid #ffffff;
    border-right: none;
    border-left: 3px solid white;
    border-radius: 0 0 0px 5px;
    content: '';
    height: 14px;
    position: absolute;
    left: 97px;
    bottom: -4px;
    width: 15px;
 
}

li#notes:hover:before {
    opacity: 1;
    height: 14px;
    width: 15px;
}

li#notes:before {
    border-bottom: none;
    border-left: 3px solid #ffffff;
    border-top: 3px solid white;
    border-radius: 5px 0 0px 0px;
    height: 14px;
    right: inherit;
    left: 97px;
    bottom: -62px;
    width: 15px;
  
}
#print_option li:last-child span::before {
   
    width: 160px;
    height: 160px;
    left: -32px;
    top: -16px;
   
}

header {
    padding: 20px 0;
    padding-top: 0;
}
header .logo img {
    width: 120px;
}
.logo span {
    color: var(--main-white);
    font-size: 14px;
    padding-left: 0px;
    padding-top: 3px;
    display: block;
}

footer li a {
    color: var(--main-white);
    padding: 25px 3px;
    font-size: 11px;
    transition: all 0.3s;
    padding-bottom: 20px;
}
.account_name {
   
    font-size: 12px;
}
.custom_print.text-center {
    width: 100%;
    margin: auto;
}
.head_search_bar .form-control {
    height: 40px;
    font-size: 15px;
}
.head_search_bar button {
    width: 35px;
    border: none;
    font-size: 15px;
}

.account-drop {
    position: absolute;
    top: -85px;
    right: 0;
}
.head_search_bar {
    margin-top: 15px;
}
.side-menu ul li a {
   
    line-height: 17px;
    
}
#sidebar ul li a img {
    position: relative;
    top: -8px;
}

#form-panel {
   
    width: 50%;
}

.loggedin svg {
    left: 88px;
}

.service_type_modal .input-number-area {
    width: 315px;
    margin: auto;}
    
    #flow_option {
   
    padding-left:0px;
    position: inherit;
    top: inherit;
    left: inherit;
    transform: inherit;
    width: 100%;
}

#flow_option li {
    float: inherit;
    position: relative;
    text-align: center;
    margin: auto;
}
#flow_option h4::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 90px;
    background: #fff;
    right: inherit;
    top: 86px;
}

#flow_option h4, #flow_option h5 {
  

    height: 35px;
    font-size: 15px;
    width: 100%;
    margin-bottom: 0;
}

#flow_option h4 span {
    position: absolute;
    padding-bottom: 30px;
    bottom: 0;
    left: 105px;
    right: 0;
    top: 62px;
    width: 100px;
}

#flow_option li.flow_top_border h5 {
    opacity: 1;
    bottom: 41px;
    left: -88px;
}

#flow_option li:last-child span {
 
 
    margin-top: 35px !important;
    line-height: 30px;
    padding-top: 50px;
    margin: auto;
}

 .pink_print li:last-child span::before, .yellow-print li:last-child span::before, .blue_print li:last-child span::before {
    width: 232px;
    height: 232px;
    left: -65px;
    top: -47px;
    margin: auto;
}
#flow_option li.flow_top_border:before {
    width: 115px;
    opacity: 1;
    height: 65px;
}

#flow_option li:before {
    border-left: inherit;
    border-bottom: 3px solid #2995cc;
    border-radius: 0px 30px 30px 0;
    position: absolute;
    right: inherit;
    top: 67px;
   width: 0px;
    height: 65px;
    left: 52%;
}

#flow_option li.flow_top_border::after {
    opacity: 1;
    height: 65px;
     width: 190px;
}
#flow_option li::after {
    border-bottom: 3px solid #29a9cc;
    border-left: 3px solid #29a9cc;
    border-right: inherit;
    border-top: 3px solid #2995cc;
    border-radius: 30px 0 0px 30px;
    content: '';
    height: 0;
    position: absolute;
    right: inherit;
    left: -120px;
    bottom: -59px;
    width: 0px;
    height: 65px;
}

.ptype {
  
    right: inherit;
    left: 47%;
    top: 107px;
}
.ptype1 {
    right: -30px;
    top: 63%;
}
.psize {
   right: inherit;
    left: 35%;
    top: 107px;
}
.psize1 {
    right: -30px;
    top: 63%;
}


.pdesign1 {
    right: -30px;
    top: 65%;
}

#flow_option li:last-child {
    width: auto;
    width: 150px;
    margin: auto;
}
 .modal-dialog {
    max-width: 100%;
    margin: 0;
    margin-left: 90px;
    margin-right: 10px;
}
.order_detail_inner {
    color: #fff;
    width: 100%;
    margin-left: 0;
}
#more_product .modal-title {
    letter-spacing: 3px;
    font-size: 15px;
   
}
#more_product h2 {
   
    font-size: 15px;
    
}
#more_product h2 span {
    font-size: 18px;
    margin-left: 8px;
}
.invoice-area {
    width: 100%;
    margin: auto;
    padding: 42px 0;
}
.invoice-box-right {
    width: 100%;
    
    margin-top: 30px;
}
.save-order-area ul {
    display: block;
    margin: auto;
    text-align: center;
}
.order-details-area {
    width: 100%;
    margin: auto;
}
#cart .modal-dialog {
    max-width: 100%;
}

.notes_detail {
    width: 70%;
    position: relative;
    margin: auto;
}

.notes_detail_box {
    width: 100%;
    float: inherit;
    background: #fff;
    border-radius: 20px;
}

.product_content {
    text-align: center;
    padding: 12px 15px 0px 0;
}

.notes_detail .order_btn {
    text-align: center;
    line-height: 30px;
    padding-top: 50px;
    float: inherit;
    color: #fff;
    margin: auto;
    margin-top: 50%;
}

.notes_detail .order_btn::after {
    position: absolute;
    content: "";
    background: #fff;
    width: 3px;
    height: 165px;
    left: 73px;
    top: -169px;
}

footer {
    margin-top: 40px;
}
.offer_msg_area {
    background: #ffffff;
    color: black;
    width: 100%;
    
}

img.svg-c-img {
    width: 50px !important;
    top: 40px;
    left: 121px;
}


}

@media only screen and (max-width:480px) {
    
    .notes_detail {
    width: 100%;
   
}

.notes_detail .order_btn::after {
   
    width: 3px;
    height: 208px;
    left: 73px;
    top: -205px;
}

.product_order_outer .col-md-4 {
    padding: 0 20px;
}
    
#cart .modal-body {
    padding-top: 80px !important;
    padding: 18px 10px;
}
.cart_product_box {
   
    padding: 10px;
    
    display: flex;
}

.cart_product_box .cart_content h2 {
    font-size: 12px;
    margin: 4px 0 0;
}

.cart_product_box .cart_content h3 {
    font-size: 13px;
  
    margin-top: 8px;
}

.cart_product_box > a {
    color: #fff;
    position: absolute;
    top: -20px;
    bottom: inherit;
    right: 20px;
 transform: inherit;
    margin-top: 41px;
    font-size: 20px;
}

    #address1 .modal-dialog {
    width: 80%;
    max-width: 80%;
}
    
     .modal-dialog {
    max-width: 100%;
    margin: 0;
    margin-left: 60px;
    margin-right: 10px;
}
.modal.left .modal-dialog, .modal.right .modal-dialog {
  
    width: 80%;
   
}
.poster_popup .input-number-area {
    width: 100%;
    
  }

.project-name-area .form-control {
    width: 100%;
    height: 50px;
    margin-top: 0;
}
.input-number-area .modal-footer button {
  
    width: 100% !important;
    height: 45px !important;
    margin-bottom: 10px !important;
}
.number-area .form-input {
    width: 70px !important;
   
}
    
    #form-panel {
   
    width: 70%;
}
.service_type_modal .input-number-area {
    width: 315px;
    margin: auto;
    left: 25px;
}


.select_services_inner {
    width: 100%;
    margin: auto;
}
    
.select_panetry i {
    left: inherit;
    right: -68px;
    top: -34px;
    transform: rotate(
90deg
);
}
#sidebar.active {
    min-width: 50px;
    max-width: 50px;
    text-align: center;
}

.side-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 10em;
    left: -6.8em;
}

#print_option {
    padding-left: 15px;
}

#content {
    padding-left: 60px;
}

#sidebar.fullmenu ul li span {
    left: 10px;
    right: auto;
    top: -3px;
}

#print_option h5 {
   
    left: 0;
    
}
.side-menu ul li:hover {
    background-color: #088DB3;
    -webkit-transform: translateX(6.8em);
    transform: translateX(6.8em);
}

.side-menu ul li a {
   
    line-height: 17px;
    
}
#sidebar ul li a img {
    position: relative;
    top: -8px;
}

.custom_print_inner .btn_outer {
    width: 260px;
    
}
.custom_print_inner img {
  
    height: 109px;
 
    left: -3px;
}
#flow_option li::after {
    border-bottom: 3px solid #29a9cc;
    border-left: 3px solid #29a9cc;
    border-right: inherit;
    border-top: 3px solid #2995cc;
    border-radius: 30px 0 0px 30px;
    content: '';
    height: 0;
    position: absolute;
    right: inherit;
    left: -70px;
    bottom: -59px;
    width: 0px;
    height: 65px;
}

#flow_option li.flow_top_border::after {
    opacity: 1;
    height: 65px;
    width: 130px;
}

.proposal_products_area .pro_product_box {
  
    width: 260px;
    padding: 20px 19px 20px 16px;
  
}

.proposal_products_area .left_side_sec {
    width: 96px;
    height: 55px;
    border-radius: 60px;
  
}

.left_side_sec h4 {
    font-size: 12px;
    padding-top: 0;
}
.trans-box-left {
  
    margin: auto;
    margin-bottom: 10px;
}
.trans-box-right {

    margin: auto;
}

.product-next-btn span i {
    line-height: 30px;
    width: 30px;
    margin: 5px 4px;
  
}

.product-next-btn span {
    width: 40px;
    height: 40px;
 
}

.product-next-btn a {
    font-size: 16px;
 
}
#notes_selection .product_box {
    width: 265px !important;
    margin: 7px 15px;
    margin-left: 0;
}
#notes_selection .product_col {
    float: inherit;
    width: 100%;
    padding: 0 0px;
}

}

@media only screen and (max-width:375px) {
    .service_type_modal .input-number-area {
    width: 288px;
    margin: auto;
    left: 25px;
}
    
}



/*large-laptop-screen-start*/
@media only screen and (min-width: 1400px) and (max-width: 1600px){

}
/*large-laptop-screen-end*/


/*laptop-screen-start*/
@media only screen and (min-width: 1200px) and (max-width: 1399px){

}
/*laptop-screen-end*/


/*mini-laptop-screen-start*/
@media only screen and (min-width: 992px) and (max-width: 1199px){
    
.select_panetry i {
      top: 4px;
}

.select_panetry {
    font-size: 18px;
    margin-right: 10px;
}


span.svg-img svg {
    width: 70px;
}

#print_option li:nth-child(2n+2) {
   
    width: 50px;
}

#print_option li:first-child span::before {
    width: 50px;
    height: 125px;
    left: 36px;
    top: -56px;
}

.order_btn, #print_option li:last-child span {
   
    margin-top: -80px;
    margin-left: 49px;
}

#print_option h4, #print_option h5 {
   
    height: 55px;
    width: 60px;
    margin-bottom: 20px;
   
}

img.svg-c-img {
    width: 45% !important;
    top: 40px;
 
}

#print_option h4 span {
   
    font-size: 12px;
    line-height: 16px;
}

#print_option li:hover h5 {
    font-size: 12px;
    line-height: 14px;
}

li#custom:before {
 
    right: -15px;
    
}

#print_option .img_box img {
    width: 76%;
}

li#quick:before {
   
    right: -15px;
    
}
li#translation:before {

    right: -15px;
}
li#notes:before {
    right: -15px;
}

#print_option {
    padding-left: 30px;
}

.select_panetry i {
    position: absolute;
    left: -25px;
}

#sidebar.active {
    min-width: 70px;
    max-width: 70px;
    
}

img.svg-c-img {
    width: 45% !important;
    position: absolute !important;
    z-index: 9999999999999999999;
    top: 40px;
    left: 13px;
}

.logo span {
    font-size: 15px;
    padding-left: 10px;
}

.side-menu ul {
   
    left: -10.2em;
}

.head_search_bar .form-control {
    font-size: 18px;
}

#flow_option {
  
    padding-left: 20px;
}

#flow_option .custom_print_inner .btn_outer {
    width: 230px;
    height: 50px;
}

#flow_option .img_box img {
    width: 50%;
}

#flow_option li.flow_top_border:before {
    height: 88px;
    opacity: 1;
}

#flow_option li.flow_top_border::after {
    opacity: 1;
    height: 140px;
}

#flow_option li::after {
   
    right: -60px;
    bottom: -40px;
    width: 65px;
  
}

#flow_option li:before {
    right: 2px;
    top: 30px;
    width: 48px;
    z-index: 0;
}
.custom_print_inner img {
    height: 130px;
    bottom: -55px;
}

#flow_option h4::before {
 
    right: -50%;
    bottom: -60px;
}
#flow_option li {
  
    width: 100px;
   
}

#flow_option h4::before {
    right: -50%;
    bottom: -56px;
}

#flow_option h4 span {
       padding-bottom: 20px;
       font-size: 13px;
}

#flow_option li.flow_top_border h5 {
       font-size: 13px;
}

#flow_option li::after {
    right: -53px;
    bottom: -38px;
    width: 58px;
}

.custom_print.text-center {
      margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#flow_option .custom_print_inner img {
    height: 130px;
    bottom: -50px;
}

.yellow-print {
    padding-left: 0 !important;
}

.yellow-print .custom_print_inner .btn_outer {
    width: 160px !important;
    height: 50px;
}

#flow_option .custom_print_inner {
    position: relative;
    top: -48px;
}
#flow_option li:last-child, #flow_option li:first-child {
    width: auto !important;
}

.yellow-print ul li {
    width: 90px !important;
}

.quick_print_area #flow_option .img_box img {
    width: 55% !important;
}

.notes_detail {
    width: 100%;
}

.notes_detail .order_btn {
    margin-top: 35px;
    margin-left: 10px;
}

}
/*mini-laptop-screen*/



/*tablet-start*/
@media only screen and (min-width: 768px) and (max-width: 991px){
    
       .select_panetry i {
    top: 4px;
}

.notes_detail {
    width: 80% !important;
   
}
.select_panetry {
    font-size: 15px;
    margin-right: 10px;
    line-height: 20px;
    top: -10px;
}


span.svg-img svg {
    width: 55px;
}

#content {
    padding-left: 65px;
}
#print_option li:nth-child(2n+2) {
    width: 32px;
}

#print_option li:first-child span::before {
    width: 44px;
    height: 100px;
    left: 27px;
    top: -30px;
}
 #print_option li:last-child span {
   
 margin-top: -70px;
    color: #000;
    font-size: 18px;
    height: 130px;
    width: 130px;
    line-height: 130px;
      background-size: 295px;
    margin-left: 30px;
   
}
#print_option h4, #print_option h5 {
    height: 55px;
    width: 50px;
    margin-bottom: 15px;
}

img.svg-c-img {
    width: 45% !important;
    top: 40px;
 
}
#print_option h4 span {
    font-size: 10px;
    line-height: 14px;
}

#print_option li:hover h5 {
    font-size: 12px;
    line-height: 14px;
}

li#custom:before {
    right: -16px;
    border-left: 2px solid #2995cc;
}

li#custom:after {
   
    border-right: 2px solid #2995cc;
    
}

#print_option .img_box img {
      width: 76%;
}

li#quick:before {
    right: -16px;
    border-left: 2px solid #e6d821;
}
li#quick:after {

    border-right: 2px solid #e6d821;
}
li#translation:before {

    right: -16px;
    border-left: 2px solid #d50880;
}
li#translation:after {
    
    border-right: 2px solid #d50880;
}

li#notes:before {
    right: -16px;
     border-right: 2px solid #ffffff;
}
li#notes:after {
    
    border-right: 2px solid #ffffff;
}

#print_option {
    padding-left: 30px;
}
.select_panetry i {
    position: absolute;
    left: -25px;
}
#sidebar.active {
    min-width: 55px;
    max-width: 55px;
}
img.svg-c-img {
    width: 45% !important;
    position: absolute !important;
    z-index: 9999999999999999999;
    top: 40px;
    left: 9px;
}

.logo span {
    font-size: 15px;
    padding-left: 0;
}

.side-menu ul {
    left: -10.6em;
}
.head_search_bar .form-control {
    font-size: 18px;
}

#flow_option {
  
    padding-left: 20px;
}
.custom_print_inner .btn_outer {
    width: 205px !important;
    height: 50px;
}

.all_custom_print .btn_outer{
    width: 300px !important;
}
#flow_option .img_box img {
    width: 66%;
}
#flow_option li.flow_top_border:before {
    height: 88px;
    opacity: 1;
}

#flow_option li.flow_top_border::after {
    opacity: 1;
    height: 140px;
}

#flow_option li::after {
   
    right: -60px;
    bottom: -40px;
    width: 65px;
  
}

#flow_option li:before {
    right: 2px;
    top: 30px;
    width: 48px;
    z-index: 0;
}
.custom_print_inner img {
    height: 100px;
    bottom: -50px;
}
#flow_option h4::before {
 
    right: -50%;
    bottom: -60px;
}
#flow_option li {
    width: 80px;
}

#flow_option h4::before {
    right: -50%;
    bottom: -57px;
}
#flow_option h4 span {
    padding-bottom: 5px;
    font-size: 11px;
    line-height: 13px;
}
#flow_option li.flow_top_border h5 {
    font-size: 11px;
}
#flow_option li::after {
    right: -53px;
    bottom: -34px;
    width: 58px;
}

footer li a {
    
    padding: 24px 18px;
    font-size: 12px;
   
}

#dropdownMenuButton {
    font-size: 12px;
}
#sidebar ul li a {
    padding: 3px 26px;
    font-size: 14px;
}
#sidebar.fullmenu ul li a {
    padding: 3px 55px;
    font-size: 14px;
}
#print_option li:last-child span::before {
  
   width: 200px;
    height: 200px;
    left: -55px;
    top: -38px;

}



#flow_option .custom_print_inner {
    position: relative;
    top: -16px;
}

#flow_option li:last-child span {
 
    font-size: 18px;
    height: 130px;
    width: 130px;
    line-height: 18px;
}

 .pink_print li:last-child span::before, .yellow-print li:last-child span::before, .blue_print li:last-child span::before {
   
 width: 200px;
    height: 200px;
    border-radius: 50%;
    left: -57px;
    top: -8px;
    
}
.btn_outer .btn {
   
    font-size: 15px;
    width: 35px;
    height: 35px;
    right: 7px;
    top: 7px;
    line-height: 24px;
   
}
.custom_print.text-center {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.flyer_print-area .custom_print_inner .btn_outer {
    width: 150px !important;
    height: 45px;
}
.flyer_print-area .custom_print_inner img {
    height: 80px;
    bottom: -45px;
}
.flyer_print-area .custom_print_inner {
    position: relative;
    top: 8px !important;
}

#flow_option li:last-child, #flow_option li:first-child {
    width: auto !important;
}

.yellow-print ul li {
    width: 62px !important;
}
.quick_print_area #flow_option .img_box img {
    width: 75% !important;
}

.quick_print_area #flow_option h4::before {
    right: -50%;
    bottom: -53px;
}


}
/*tablet-end*/

@media only screen and (min-width: 768px) and (max-width: 840px){
.flyer_print-area .custom_print_inner .btn_outer {
    width: 150px !important;
    height: 50px;
}
.flyer_print-area .custom_print_inner img {
    height: 75px;
    bottom: -50px;
}
.flyer_print-area .custom_print_inner {
    position: relative;
    top: 10px !important;
}
.flyer_print-area {
    padding-left: 0 !important;
}


}

/*mobile-screen-start*/
@media only screen and (min-width: 300px) and (max-width: 767px){

}
/*mobile-screen-end*/