@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0; background:#001C2A url(..//images/main_bg.jpg) no-repeat;     background-size: cover;
}
img{ max-width: 100%; }
:root {
    --main-bg-color1: #6160e5;
    --main-bg-color2: #1dc8fe;
    --main-bg-color3: #ff522a;
    --main-white: #f4f4f4;
    --main-color2: #FFFFFF;
    --main-color3:#ff6d03;
}

h1, h2, h3, h4, h5, h6, p{    margin: 0;    padding: 0;}
ul, ol{    margin: 0;    padding: 0;    list-style: none;}
a{    color: inherit;    text-decoration: none;}
a:hover, a:focus{    color: inherit;    text-decoration: none;}
.btn.focus, .btn:focus {    outline: 0;    box-shadow: none;}
button:focus {    outline: 0;    box-shadow: none;}
i,span {    display: inline-block;}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {    display: flex;    align-items: stretch;}
#sidebar {    min-width: 200px;    max-width: 200px; height: 100%;   background:#29A9CC;    transition: all 0.3s; position: fixed; z-index: 9999}
#sidebarCollapse {    margin: 50px 0;    color: #fff; width: 100%;}
#sidebar.active {    min-width: 80px;   max-width: 80px;    text-align: center;}
#sidebar.active .fa-bars{ display: block; }
#sidebar.active .fa-times{ display: none; }
#sidebar .fa-bars{display: none;}
#sidebar .fa-times{float: right;font-size: 23px;margin: 0 11px 0 0;}
.navbar { padding: 15px 10px;  background: #fff;    border: none;    border-radius: 0; margin-bottom: 40px;   }
.navbar-btn {   box-shadow: none;    outline: none !important;    border: none;}
.side-menu ul {    list-style: none;    margin: 0;    padding: 0;width: 14em;transition: all 0.3s;text-transform: uppercase;position:relative;left: -10em;}
.side-menu ul li { display: block;-webkit-transition: -webkit-transform 0.5s, background-color .5s, color .5s;
transition: transform .5s, background-color .5s, color .5s;}
.side-menu ul li:hover {  background-color: #088DB3;   -webkit-transform: translateX(10em);
    transform: translateX(10em);}
.side-menu ul li a {display: block; position: relative;    height: 50px;    color: #FFF; text-decoration: none;
    line-height: 50px;    text-align: left;    padding: 0 30px;transition: all 0.3s;    font-weight: 700; margin-bottom: 10px;}
.side-menu ul li span {   display:block; position: absolute; right:10px;   transition: all 0.3s; bottom:0;}
#sidebar.fullmenu ul li a{ padding: 0 55px; }
#sidebar.fullmenu ul { width: 100%;    left: 0;}
#sidebar.fullmenu ul li:hover{transform: none;}
#sidebar.fullmenu  ul li span {left: 10px; right: auto;}
.laung-btn a button {
    border-radius: 30px;
    background-color: #001b29;
    width: 100px;
    height: 40px;
    border: none;
    font-size: 14px;font-weight: 600;
   
    line-height: 1.33;
    color: #f4f4f4;
}a.laung-btn-arbic button {
    background: transparent;
    border: 1px solid white;
    margin-top: 10px;
}
#sidebar.fullmenu  ul li:last-child:hover{background: none;}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
header {   padding: 30px 0;}
#content {    width: 100%;    padding: 20px;   min-height: 100vh;    transition: all 0.3s; padding-left: 100px;}
.logo span {    color: var(--main-white);    font-size: 20px;    font-weight: normal;    font-stretch: normal;    font-style: normal;    letter-spacing: normal;    padding-left: 30px;}
footer li {    display: inline-block;}
footer li a{ color: var(--main-white);padding: 25px 29px;font-size: 15px; transition: all 0.3s;}
footer li a:hover{ color:var(--main-bg-color2) }
.main_content{ min-height: 430px; padding: 0 0 50px;}
/*form-site-header*/

#form-site-header #form-button-toggle {
    position: fixed;
    right: 30px;
    top: 60px;
    width: 25px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    z-index: 999; width: 25%;
}

.sticky #form-button-toggle {
    position: fixed;
    right: 30px;
    top: 39px;
    width: 25px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    z-index: 999999;
}

#form-site-header #form-button-toggle .hamburger {
    height: 3px;
    margin: 2px 0;
    background: white;
    transition: all ease-in-out 0.2s;
  
}
#form-site-header #form-button-toggle .hamburger:nth-child(1) {
  width: 12px;
}
#form-site-header #form-button-toggle .hamburger:nth-child(2) {
  width: 28px;
}
#form-site-header #form-button-toggle .hamburger:nth-child(3) {
  width: 20px;
}
#form-site-header #form-button-toggle:hover .hamburger:nth-child(1) {
  width: 28px;
}
#form-site-header #form-button-toggle:hover .hamburger:nth-child(2) {
  width: 12px;
}
#form-site-header #form-button-toggle:hover .hamburger:nth-child(3) {
  width: 20px;
}
#form-site-header #form-button-toggle.open .hamburger:nth-child(1) {
  width: 100%;
  transform-origin: 0 0;
  transform: rotate(45deg) translate(2px, -2px);
}
#form-site-header #form-button-toggle.open .hamburger:nth-child(2) {
  opacity: 0;
}
#form-site-header #form-button-toggle.open .hamburger:nth-child(3) {
  width: 100%;
  transform-origin: 0 0;
  transform: rotate(-45deg) translate(-2px, 3px);
}
#form-site-header #form-button-toggle.open:hover .hamburger:nth-child(1) {
  opacity: 0.6;
}
#form-site-header #form-button-toggle.open:hover .hamburger:nth-child(3) {
  opacity: 0.6;
}

#form-panel {
    z-index: 99;
    position: fixed;
    top: 0;
    right: -1500px;
    width: 25%;
    height: 100%;
    padding: 30px;
    justify-content: center;
    transition: right ease-in-out 0.6s;
    background-color: #01344e;
}
#form-panel.showing {
  right: 0; 
}

.login-logo img {
    max-width: 100%;
    width: 180px;
    margin: auto;
    display: block;
}
.login-logo {
    margin-top: 60px;
}

.login-form .form-control {
    margin-bottom: 10px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background: #001b29;
    color: white;
    transition: 2s; font-size: 13px;
}
.login-form input[type="password"]{background-image: url(../images/Face-ID.png);
background-repeat: no-repeat;
background-position: 95%; }

.login-form {
    margin-top: 75px;
}

.login-form .form-control:hover {
    border: 1px solid white;
    transition: 2s;
}


.sign-up-button button,#resetPassForm input[type="submit"],.login-btn  button {
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.03);
    background-image: linear-gradient(98deg, #29adcc 0%, #2995cc);
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
   
}
#resetPassForm input[type="submit"]{background: #001C2A;}
.login-btn {
    text-align: center;
}

.for-password {
    font-size: 14px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 2;
letter-spacing: normal;
text-align: center;
color: white;
display: block;
margin-top: 10px;
}

.account-infor {
    text-align: center;
    margin-top: 65px;
}

.account-infor p {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: white;
}

.account-infor a {
   font-size: 15px;
font-weight: 600;
font-stretch: normal;
font-style: normal;
line-height: 1.67;
letter-spacing: normal;
text-align: center;
color: white;
}
#singup-btn {
    margin: 4px 0;
    display: inline-block;
}
a.for-password:hover {
    color: white !important;
}



.signup-form .form-control {
    margin-bottom: 10px;
    height: 40px;
    border-radius: 7px;
    border: none; font-size: 13px;
    background: #001b29;
    color: white;
    transition: 2s;
}

.signup-form .form-control:hover {
    border: 1px solid white;
    transition: 2s;
}

.signup-header {
    padding: 22px 0;
    text-align: center;
    position: relative;
}

.signup-header h4 {
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #f4f4f4;
    text-align: center;
    text-transform: uppercase;
    
}

.signup-header h4 span {
    text-align: left !important;
    position: absolute;
    cursor: pointer;
    left: 0;
}

.sign-up-button {
    margin-top: 37px;
}


.sign-up-button a {
    background-image: linear-gradient(101deg, #29adcc, #2995cc 100%);
    width: 277px;
    display: block;
    height: 50px;
    line-height: 55px;
    border-radius: 10px;
    font-family: Nunito;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1.54px;
    text-align: center;
    color: #f4f4f4;
    text-transform: uppercase;
}

.signup-area {
    display: none;
}

.forget-pass-area{
    display:none;
}

.signup-form.forget-form h4 {
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 1.43px;
    text-align: left;
    color: #eeeeee;
}

.signup-form.forget-form label {
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.79px;
    text-align: center;
    color: white;
    margin-top: 25px;
}
/* Home Page Animation start*/

#print_option{ padding: 150px 0 ; padding-left: 70px;}
#print_option li {
    float: left;
    text-align: center;height: 100px;
    position: relative;
}
#print_option li:last-child span::before {
    position: absolute;
    content: "";
    width: 232px;
height: 232px;
border-radius: 50%;
left: -63px;
top: -43px;
    z-index: -1;-webkit-transition:  0.6s;
-moz-transition:  0.6s ;background: url(../images/bg1.png) center;
    background-size: 100%;
transition:  0.6s;opacity: 0;
}
#print_option.custom li:last-child span::before {
    background: url(../images/bg1.png) center;
    background-size: 100%;
    opacity: 1;
}
#print_option.custom li:last-child span{color: #2995CC}
#print_option.quick li:last-child span::before {
    background: url(../images/bg2.png) center;
    background-size: 100%;
    opacity: 1;
}
#print_option.quick li:last-child span{color: #e6d821}
#print_option.translation li:last-child span::before {
    background: url(../images/bg3.png) center;
    background-size: 100%;
    opacity: 1;
}
#print_option.translation li:last-child span{color: #d50880}
#print_option.notes li:last-child span::before {
    background: url(../images/bg4.png) center;
    background-size: 100%;
    opacity: 1;
}
#print_option.notes li:last-child span{color: #fff}

.order_btn,#print_option li:last-child span {
    align-items: center; background:url(../images/Button.png) center;
    border-radius: 50%;
    color: #000;
    font-size: 22px;
    height: 150px;
    display: block;position: relative;
    width: 150px;
   margin-top: -95px; z-index: 9;
    line-height: 150px;background-size: 335px;
    margin-left: 70px;
}
.order_btn {
    text-align: center;
    line-height: 30px;
    padding-top: 50px;
    float: right;
    margin: 100px 0 0;
}
#print_option h4,#print_option h5 {-webkit-transition: all 0.6s ease-in-out;
position: relative;
-moz-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;
color: #fff;
height: 55px;
font-size: 16px;
width: 80px;
text-transform: uppercase;
font-weight: 700;
line-height: 20px;
margin-bottom: 30px;
border-bottom: 3px solid #fff;
}
#print_option.custom h5{color: #2995CC}
#print_option.quick h5{color: #E6D821}
#print_option.translation h5{color:#D50880}
#print_option h5{opacity: 0; margin-bottom: -100px; border: none;}
#print_option li:first-child span{display: block; margin-right:29px;}
#print_option li:first-child span::before {
    position: absolute;
    content: "";
    width: 61px;
    height: 137px;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    border-top: 3px solid #fff;
    border-radius: 25px 25px 0 0;
    left: 46px;-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;transition: all 0.6s ease-in-out;
    top: -56px;
}
#print_option li:first-child::after {
    border-bottom: 3px solid #fff;
border-left: 3px solid #fff;
border-radius: 0 0 0 9px;
content: '';
height: 22px;
position: absolute;
right: -2px;
bottom: 11px;
width: 18px;
z-index: 1;-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;
}
#print_option.custom #start:after,#print_option.custom h4,#print_option.custom .line,#print_option.custom li:nth-child(2n+2),#print_option.custom li:first-child span::before{border-color: #2995cc}
#print_option.quick #start:after,#print_option.quick h4,#print_option.quick .line,#print_option.quick li:nth-child(2n+2),#print_option.quick li:first-child span::before{border-color: #E6D821}
#print_option.translation #start:after,#print_option.translation h4,#print_option.translation .line,#print_option.translation li:nth-child(2n+2),#print_option.translation li:first-child span::before{border-color: #D50880}
#print_option.notes #start:after,#print_option.notes h4,#print_option.notes .line,#print_option.notes li:nth-child(2n+2),#print_option.notes li:first-child span::before{border-color: #fff}
#print_option svg,#print_option img{ position: relative;
z-index: 9;
-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;}
#print_option li:first-child:hover img{ margin-top: 0 }
#print_option li:hover img{ margin-top: -213px; }
#print_option li:hover h4{opacity: 0}
#print_option li:hover h5{opacity: 1; margin-bottom: 0}
#print_option li:nth-child(2n+2) {-webkit-transition: all 0.6s ease-in-out;
position: relative;
-moz-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;
    border-top: 3px solid #fff;
    position: relative;
    top: 52px;
    width: 70px;
}
#print_option li:first-child {
    margin-top: -34px;
}
#print_option h4 span {
    position: absolute; padding-bottom: 30px;
    bottom: 0;
    left: 0;
    right: 0;
}
.line {
    border-left: 3px solid #fff;
border-right: 3px solid #fff;
border-top: 3px solid #fff;
position: absolute;
opacity: 0;
height: 0;
width: 100%;
bottom: 45px;
border-radius: 100px 100px 0 0;
-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;
}
#print_option li:hover .line{ opacity: 1;
height: 100%; }
/* Home Page Animation  end*/

.head_search_bar .form-control {
    background: rgba(0,0,0,0.3);
    border: none;
    height: 50px;
    border-radius: 50px;
    padding: 10px 25px;
    font-size: 25px;
    color: #fff;
    text-align: center;
}.head_search_bar {
    position: relative;margin: 0px 0 0;
}.head_search_bar button {
    position: absolute; color: #fff;
    left: 0;
    background: rgba(0,0,0,0.3);
    width: 51px; border: none;
    height: 100%;
    border-radius: 50px 0 0 50px;
    border-right: 2px solid #000;
    font-size: 23px;
}.account_name {
    color: #fff;
    margin-top: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.custom_print h2 { margin-top: 15px;
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 35px;
}

.custom_print_inner .btn_outer {
    background: #fff;
    position: relative;
    display: block;
    height: 63px;
    border-radius: 50px;
    width: 310px;
    margin: auto;
}.btn_outer .btn {
    background: #001B29;
    color: #fff;
    font-size: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    position: absolute;
    right: 7px;
    top: 8px;
    line-height: 36px;
    text-align: center;
}.custom_print_inner img {
    position: relative;
    height: 135px;
    z-index: 9;
    bottom: -63px;
}
#flow_option .custom_print_inner .btn_outer{width: 270px;}
#flow_option.custom_print li:last-child span,
#flow_option.custom_print h4,
#flow_option.custom_print h5{ color: #2995cc;}

#flow_option.roll_up li:last-child span,
#flow_option.roll_up h4,
#flow_option.roll_up h5{ color: #e6d821;}

#flow_option.translation li:last-child span,
#flow_option.translation h4,
#flow_option.translation h5{ color: #D50880;}

#flow_option.custom_print h4::before,
#flow_option.custom_print .modal-header,
#flow_option.custom_print .btn-primary,
.custom_print .custom_print_inner .btn_outer{ background: #2995cc;}

#flow_option.roll_up h4::before,
#flow_option.roll_up .modal-header,
#flow_option.roll_up .btn-primary,
.roll_up .custom_print_inner .btn_outer{ background: #e6d821;}

#flow_option.translation  h4::before,
#flow_option.translation  .modal-header,
#flow_option.translation  .btn-primary,
.translation  .custom_print_inner .btn_outer{ background: #D50880;}

#flow_option.custom_print li::before,
#flow_option.custom_print .btn-primary,
#flow_option.custom_print li::after{border-color: #2995cc}

#flow_option.roll_up li::before,
#flow_option.roll_up .btn-primary,
#flow_option.roll_up li::after{border-color: #e6d821}

#flow_option.translation li::before,
#flow_option.translation .btn-primary,
#flow_option.translation li::after{border-color: #D50880}

.notes_product.content ul, .vertical-images.content ul {
    margin: 0;
        margin-right: 0px;
        margin-left: 0px;
    padding: 0;
    list-style: none;
    overflow: hidden;
}.notes_product.content li {
    margin: 0 3px;
        margin-left: 3px;
    float: left;
}
.product_col {
 float: left;   width: 373px; padding: 0 15px;
}
.product_box {
    width: 100%;
    background: #fff; border-radius: 25px; margin-bottom: 30px;-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
position: relative;
-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;
}
#notes_selection .product_box::before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(41, 169, 204, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(41, 169, 204, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}#notes_selection .product_box:hover::before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}#notes_selection .product_box:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); background: #29A9CC;
}.notes_product.content ul {
    padding-top: 10px;
}
#notes_selection .product_box:hover .product_img{background: none}
#notes_selection .product_box:hover .product_content h4,#notes_selection .product_box:hover .product_content h2{color: #fff}
.product_content h4 {
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 600;
}
.product_content h2 {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
}.product_img {
    border-radius: 30px 0 0 30px;
    background: #eeeeeeba;
    padding:5px 20px;
}.product_content {
    padding: 15px 15px 15px 0;
}.notes_filter span {
    background: #fff;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    padding: 8px;
}.notes_filter li a {
    color: #2995cc;
    border: 1px solid #2995cc;
    border-radius: 30px;
    display: block;
    padding: 8px 20px;
    font-size: 13px;
    font-weight: 600;-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;
}
.notes_filter li a:hover{background: #2995cc; color: #fff}
.notes_filter {
    margin: 0 0 50px;
}.notes_filter li.active a{background: #2995cc; color: #fff}
#flow_option li{ float: left;position: relative; text-align: center; width: 115px;-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;}
#flow_option  li:last-child,#flow_option  li:first-child{width: auto;}
#flow_option h4,#flow_option h5{
position: relative;-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;
color: #2995cc;
height: 55px;
font-size: 15px;
width: 100%;
text-transform: uppercase;
font-weight: 700;
line-height: 20px;
margin-bottom: 30px;
}
#flow_option  li:last-child span {
    align-items: center;
    background-color: #001c2a;
    border-radius: 50%;
    box-shadow: 0 0 4px #000;
    color: #fff;
    font-size: 22px;
    height: 150px;
    display: block;
    width: 150px; text-transform: uppercase;
    margin-top: 30px;
    line-height: 30px;
padding-top: 50px;
}#flow_option   h5 {
    opacity: 0;
    bottom: -100px;
    border: none;
}#flow_option h4 span {
    position: absolute;
    padding-bottom: 30px;
    bottom: 0;
    left: 0;
    right: 0;
}#flow_option .custom_print_inner {
    position: relative;
    top: -50px;
}#flow_option h4::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: #fff;
    right: -50%;
    bottom: -65px;
}#flow_option li .img_box {
    position: relative; cursor: pointer;
}
#flow_option  li:last-child:before,#flow_option  li:first-child:before{display: none;}
#flow_option  li.flow_top_border h4{opacity: 0}
#flow_option  li.flow_top_border h5{opacity: 1; bottom: -20px}
#flow_option  li:before{border-left: 2px solid #29a9cc;
border-right: 3px solid #29a9cc;
border-top: 3px solid #29a9cc;
border-radius: 30px 30px 0 0;
content: '';
height: 0;opacity: 0;
position: absolute;
right: 2px;
top: 30px;
width: 65px;
z-index: 0;-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;}
#flow_option li::after {opacity: 0;
    border-bottom: 2px solid #29a9cc;
    border-left: 3px solid #29a9cc;
    border-right: 3px solid #29a9cc;
    border-radius: 0 0 30px 30px;
    content: '';
    height: 0;
    position: absolute;
    right: -60px;
    bottom: -55px;
    width: 65px;-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;
}
#flow_option  li.flow_top_border:before{height: 115px; opacity: 1}
#flow_option li.flow_top_border::after{opacity: 1;height: 190px;}
.poster_popup .modal-header{background: #299acc; color: #fff}
.custom-select{border-radius: 30px;
height: 50px;padding: 10px 20px;}
.poster_popup .modal-footer {
    border: none;
    padding-top: 0;
}
.modal-footer .btn.btn-primary {
   
    width: 200px;
    margin: auto;
    border-radius: 73px;
    padding: 10px;
    height: auto;
    text-transform: uppercase;
}
.paper_type{color: #fff;}
#flow_option{float: left; width: 100%; clear: both; padding: 50px 0 80px; padding-left: 60px;}
.poster_btn button {
    background: #2995cc;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    padding: 14px 100px;
    height: auto;
}.poster_btn {
    padding-left: 300px;
}
.paper_type {
    color: #fff;
    display: none;
    position: absolute;
    right: -41px;
    font-size: 15px;
    font-weight: 600;
    width: 34px;
    text-align: center;
}
.modal.left .modal-dialog,
.modal.right .modal-dialog,
.modal.top .modal-dialog,
.modal.bottom .modal-dialog {
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 400px;
  max-width: 100%;
  height: 100%;
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.left.fade .modal-dialog {
  left: -500px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
  left: 0;
}

.modal.right.fade .modal-dialog {
  right: -500px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

.modal.left .modal-content,
.modal.right .modal-content,
.modal.top .modal-content,
.modal.bottom .modal-content,
.modal.full .modal-content {
  border-radius: 0;
  border: none;
}

.modal.left .modal-dialog.modal-sm,
.modal.right .modal-dialog.modal-sm {
  width: 300px;
}

.modal.left .modal-dialog.modal-lg,
.modal.right .modal-dialog.modal-lg {
  width: 800px;
}

.modal.left .modal-dialog.modal-xl,
.modal.right .modal-dialog.modal-xl {
  width: 1140px;
}
.right_sidebar .modal-content,#right_modal .modal-content{background-color: #001B29;}
.fileupload_name { position: relative;
    text-align: center;background: #00131D;
height: 50px; border-radius: 50px;
    width: 100%; line-height: 50px;
    color: #fff;
}
#right_modal .modal-header{border: none;}
.fileupload_name .close {
    background: #000D14;
    color: #fff;
    width: 52px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; margin: 0;
    border-radius: 50px 0 0 50px;
}
.fileupload_name > span {
    background: #000D14;
    color: #fff;
    width: 52px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0; margin: 0;
    border-radius: 0 50px 50px 0;
}
.upload_box{ float: left; width: 100%; clear: both; margin-bottom: 15px; }
.upload_box input[type="file"] {
    opacity: 0;
    position: absolute;
}
.photo_upload {
    display: inline-block;
    border: solid 1px #2995cc;
    background: rgba(41, 149, 204, 0.3);
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center; float: left;
    line-height: 46px;
    cursor: pointer;
}
.file_upload {
    display: inline-block;
    border: solid 1px #2995cc;
    background: rgba(41, 149, 204, 0.3);
    position: relative;
    border-radius: 60px;
    width: 113px;
    color: #fff;
    height: 50px;
    text-align: center;
    line-height: 46px;
    cursor: pointer;
    font-size: 14px;
    padding-right: 7px;
    margin: 0 10px; float: left;
}.upload_box span { float: left;;
    color: var(--white);
    opacity: 0.16;
    margin: 11px 0 0;
    padding-top: ;
}


.design_upload {
    position: relative;
    border: 10px solid #B1B1B1;
    clear: both;
    min-height: 350px;
    background: #F4F4F4;
     padding: 0px;
    overflow: hidden;
    line-height: 290px;
        text-align: center;
}

.modal-content.uploadarea {
    overflow-x: hidden;
}
.uploadarea form{
     transition: right ease-in-out 0.6s;
    background-color: #001B29;
}

.design_upload input[type=file]{position: absolute; width: 100%; height: 100%; opacity: 0; left: 0; top: 0}
.design_upload img {
   /* position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 1;*/
}
.plusicon{
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0.2 !important;    
}
.design_upload h3 {
   font-size: 24px;
font-weight: 700;
text-align: center;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
    margin-top: auto;
transform: translateY(50%);
margin-top: -50px;
}
.upload_setting li {
    display: inline-block; text-align: center;
    width: 24%; opacity: .3;color: #fff; font-size: 12px;
}
.upload_setting li img {
    display: block;
    margin: auto;
}
.upload_setting {
    margin-top: 20px;
}
.upload_setting li.active{opacity: 1}

.printeries .product_img{ background: none;width: 100%;
padding: 10px 0 0 14px; }
.printeries .product_box .col-md-5{ padding: 0 }
.product_box span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    margin: 20px 0;
}
.open {
    color: #00b940;
}
.closed {
    color: #b90000;
}
.busy {
    color: #b99d00;
}


/*proposal-page*/
.proposal-head-bar form button {
    position: absolute;
    color: #fff;
    background: rgba(0,0,0,0.3);
    width: 51px;
    border: none;
    height: 100%;
    border-radius: 0px 50px 50px 0px;
    border-left: 2px solid #000;
    font-size: 23px;
    right: 0 !important;
    top: 0;
    left: inherit;
}

.proposal-head-bar {
    margin: 0;
}

.proposal-acount {
    margin-top: 12px;
}

.proposal-head-bar .form-control::placeholder {
    color: #f4f4f4;
    font-size: 21px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
}

.pro_product_box {
    background: white;
    width: 344px;
    padding: 14px 19px 14px 16px;
    border-radius: 20px;
    border: solid 0.5px #2995cc;
    background-color: #001b29;
    cursor: pointer;-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;m 
}
.pro_product_box:hover {
    background: #29A9CC;
}
.product_box_left {
    display: flex;
    justify-content: space-between;
}

.right_side_sec h4 {
    font-size: 15px;
    color: white;
    padding-left: 14px;
    padding-top: 28px;
}

.left_side_sec {
    width: 100%;
    height: 95px;
    background-color: #2995cc;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
}

.right_side_sec {
    width: 100%;
}

.left_side_sec p {
    font-family: Nunito;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #f4f4f4;
    padding-top: 13px;
}

.left_side_sec h4 {
    font-family: Nunito;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #f4f4f4;
    padding-top: 5px;
}

.product_box_right p {
    font-family: Nunito;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #f4f4f4;
}

.product_box_right {
    padding-top: 11px;
}

.product_box_right p:nth-child(2) {
    color: #d50880;
    padding-top: 6px;
}

ul.pro_product_col1 li {
    float: left;
    margin-right: 10px;
}

.product_box_right.bottom-align {
    padding-top: 28px;
}
ul.porposal_product_inner li {
    margin-top: 30px;
}


.select-box-inner {
    text-align: center;
    color: #2995cc;
    padding-top: 25px;
     display: none;
}

.select-box-inner p {
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2995cc;
}


.product-whit-box {
    background: white;
    color: #2995cc;
    position: relative;
    z-index: 1;
    cursor: pointer;
}



.product-next-btn {
    text-align: center;
    padding: 30px 0;
    color: #2995cc;
}


.no-padding {
    padding: 0;
}

.product-next-btn a {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #2995cc;
}

.product-next-btn span {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-image: linear-gradient(100deg, #29adcc 6%, #2995cc 92%);
    margin-left: 10px;
}

.product-next-btn span i {
    background: #001b29;
    line-height: 36px;
    width: 36px;
    border-radius: 30px;
    margin: 7px 7px;
    color: white;
}

.modal-header.account-pro {
    width: 200px;
    margin-left: auto;
}


 .product-timeline .timeline {
  counter-reset: test 0;
  position: relative;
  z-index: 111;
}

.product-timeline .timeline li {
  list-style: none;
  float: left;
  width: 33.3333%;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.product-timeline .product-timeline ul:nth-child(1) {
  color: #4caf50;
}

.product-timeline .timeline li:before {
    counter-increment: test;
    content: counter(test);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 32px;
    margin: 0 auto 10px auto;
    background: #2e2d2d;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    font-size: 11px;
}

 .product-timeline .timeline li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: grey;
    top: 13px;
    left: -50%;
    z-index: -999;
    transition: all ease-in-out 0.3s;
}

.product-timeline .timeline li:first-child:after {
  content: none;
}
 .product-timeline .timeline li.active-tl {
  color: #555555;
}
.product-timeline .timeline li.active-tl:before {
    background: white;
    color: #199bde;
}
.product-timeline .timeline li.active-tl + li:after {
    background: #525353;
}

.main-trasletion-box {
    padding-top: 55px !important;
    padding: 16px 12px;
}

.trans-box-left {
    margin: 0 8px 0 0;
    padding: 10px 9.6px 32.7px 20.5px;
    object-fit: contain;
    border-radius: 20px;
    background-color: #f4f4f4;
    width: 168px;
}
.trans-box-left h4 {
    font-size: 13px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: left;
    color: #001b29;
    position: relative;
    top:8px;
}

.trans-box-left h4 span img {
    position: absolute;
    top: -12px;
    right: 0;
}

.trans-box-left p {
    margin: 17.3px 6.9px 0 0;
    object-fit: contain;
    font-family: Nunito;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #001b29;
}

.trans-box-right {
    border-radius: 20px;
    background-color: #2995cc;
    height: 120px;
    text-align: center;
    padding: 24px 0px;
    width: 168px;
}



.trans-box-right h4 {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #f4f4f4;
}

.trans-box-right p {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #f4f4f4;
}
.promotion-code-area {
    margin-top: 60px;
    position: relative;
}

.promotion-code-area h4 {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #f4f4f4;
}

.promotion-code-area .form-control {
    margin: 10.2px 0 0;
    padding: 13px 140px 13px 15px;
    border-radius: 15px;
    border: solid 1px #49b93f;
    background-color: #031b29;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #00b940;
}

.promotion-code-area span {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #00b940;
    position: absolute;
    top: 46px;
    right: 15px;
}

.promotion-code-area .form-control::placeholder{
    color: #00b940;
}


/*proposal-page*/

/*invoice-page*/
.invoice-area {
    width: 600px;
    margin: auto;
}
.invoice-box-left h6 {
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: white;
}

.invoice-box-left h5 {
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #f4f4f4;
    padding-top: 5px;
}
.invoice-box-left h4 {
    font-size: 29px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.66;
    letter-spacing: normal;
    text-align: left;
    color: #00b940;
}

.invoice-box-left p {
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #f4f4f4;
}

.invoice-box-right h4 {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #f4f4f4;
}
.order-del-content {
    display: flex;
    justify-content: space-between;
}

.order-del-content ul li {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #f4f4f4;
    padding-top: 8px;
}

.invoice-box-right {
    width: 220px;
    margin-left: auto;
}

.order-del-footer {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #f4f4f4;
    margin-top: 12px;
    padding-top: 7px;
}

.order-del-footer ul li {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #f4f4f4;
}

.print-shop-area {
    padding-top: 30px;
}

.print-shop-area p {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #f4f4f4;
    padding-top: 5px;
}

.invoice-map-area {
    margin-top: 25px;
}
.invoice-area {
    width: 600px;
    margin: auto;
    padding: 42px 0;
}
/*invoice-page*/

/*proposal-page*/
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

#account h2 button {
    float: left;
    color: #fff;
    opacity: 1;
}#account h2 {
    text-align: center;
    color: #fff;
    width: 100%;
    font-size: 23px;
}.modal-header{ border: none; }
#account h3 {
    color: #fff;
    font-size: 22px;
    line-height: 37px;
    margin: 50px 0 30px;
}.modal-body .form-control {
    background: #1A323F;
    height: 50px;
    border-radius: 60px;
    /*color: #fff;*/
    padding: 10px 24px;
    font-size: 13px;
}.modal-body .form-control:focus{border-color: #00B940;
outline: 0;
box-shadow: none;}
#address2 .btn, #account  .btn.primary-btn {
    background: linear-gradient(101deg, #29adcc, #2995cc 100%);
    width: 92%;
    color: #fff;
    height: 70px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
}
.select_services_inner {
    width: 343px;
    margin: auto;
}.select_services_inner .product_img {
    background: none;
    position: relative;
    width: 100%;
    height: 110px;
}
.select_services_inner h2 {
    font-size: 13px;
}
.select_services_inner .product_img img {
    position: absolute;
    transform: translateY(-50%);
    margin-top: 50px;
}
.select_services_inner{ margin-bottom: 100px; }
.select_services_inner h4{ font-size: 16px;
font-weight: 700;
color: #001b29; }
.services_type h1{text-align: center; color: #fff; font-size: 22px; margin-bottom: 50px;}

#cart .modal-dialog{max-width: 548px;}
#cart .modal-content {
    background: #3b95cc;
    border-radius: 20px 5px 5px 20px;
}
.carticonbox {
    width: 46px;
    height: 46px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 44px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 15px;
}
.cart_product_box .cart_content h3 {
    font-size: 13px;
    color: #fff;
    font-weight: 700;
}
.cart_product_box .cart_content {
    display: inline-block;
    width: 80%;
}
.cart_product_box .cart_icon {
    display: inline-block;
    width: 55px;
}.cart_product_box {
    background: #2086ba;
    border-radius: 35px;
    padding: 15px;
    position: relative;
    margin: 0 0 10px;
}.cart_product_box .cart_content h2 {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    margin: 8px 0 0;
}.cart_product_box .cart_icon img{vertical-align: bottom;}
.cart_product_box > a {
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateY(-50%);
    margin-top: 41px;
    font-size: 22px;
}
#cart .close {
    position: absolute;
    right: 20px; z-index: 99;
    top: 15px;
    font-size: 40px;
}
#cart .modal-body {
    padding-top: 90px !important;
    padding: 47px 60px;
}
.pro_product_box .selected{display: none;}
.pro_product_box.active .selected{display: block; text-align: center;color: #2995cc;}
.pro_product_box.active .product_box_right p{display: none;}
.pro_product_box.active {    background: #fff;}
.pro_product_box.active .right_side_sec h4{color: #2995cc}
.order_detail_inner {color: #fff;
    width: 343px;
    margin-left: 200px;
}
.order_detail_inner .btn {
    width: 100%;
    display: block;
    border: 1px solid #2995cc;
    margin: 15px 0;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    text-align: left;
    font-weight: 700;
    border-radius: 60px;
    padding: 0 30px;
}.order_detail_inner .btn.blue-btn{background: #2995cc; color: #fff;}
.order_detail_inner .btn.dark-btn{background: transparent; color: #6f7e86;}
.order_detail_inner .btn span{float: right; color: #fff; font-size: 14px;}
.order_detail_inner h2 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}.order_detail_inner h3 {
    font-size: 13px;
    margin: 10px 0 20px;
}
.order_detail_list{color: #fff; margin-top: 50px;}
.order_detail_list h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}.order_detail_list .table {
    color: #fff;
    font-size: 16px;
}.order_detail_list .table td{text-align: right;}
.order_detail_list .table td, .order_detail_list .table th{border:none;padding: 5px;}
.order_detail_list .table tfoot {
    border-top: 1px solid #fff;
}.animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}#more_product .modal-dialog { position: absolute; bottom: 0; margin: 0; width: 100%;
    max-width: 100%;
}#more_product {padding: 0 !important;
    z-index: 9999;
}
#more_product_list li {
    float: left;
    width: 250px;
    background: #fff;
    border-radius: 20px;
    margin-right: 15px;transition: all 0.3s
    padding: 15px;border: solid 3px #fff;
}
#more_product_list li:hover {border-color: #2995cc}

.more_product_img {
    float: left;
    width: 40%;
}#more_product .modal-dialog .modal-content {
    background: #f4f4f4;
}.more_product_content {
    float: right; margin-top: 18px;
    width: 55%;
}
.more_product_content h4 {
    font-size: 16px;
    font-weight: 700;
}.more_product_content h6 {
    font-size: 20px;
    color: #2995cc;
    font-weight: 700;
    margin: 10px 0 0;
}#more_product .modal-title {
    display: block;
    width: 100%;
    text-align: center;
    color: #001b29;
    letter-spacing: 3px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
}#more_product h2{ width: 100%; display: block; text-align: center; font-size: 18px;color: #2995cc; font-weight: 700; margin-top: 15px;}
#more_product h2 span{font-size: 30px;}
#more_product .modal-header{ display: block; }
#more_product h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 13px;
}.next-btn a {
    background: linear-gradient(to bottom, #29adcc, #2995cc);
    display: inline-block;
    width: 345px;
    height: 60px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    line-height: 63px;
    margin: 15px 0 0; float: none;opacity: 1;
}#address1 h3,#address2 h3 {
    font-size: 13px;
    color: #001b29;
    text-align: left;
    display: block;
    width: 100%;
    letter-spacing: 1.38px;
    opacity: 0.36;
}#address1 .close,#address2 .close {
    position: absolute;z-index: 99;
    right: 20px;
    top: 20px;
}
#address2 .form-control {color: #666;
    background: #fff;
    border: none;
}
#address2 .form-group {
    margin: 0 0 10px;
}
#address1 li a{display: block; width: 100%; background: #fff; height: 50px; border-radius: 50px;}
.modal-content {
    background: #f4f4f4;
}.address_action a,#address1 li .radio_address ,.order_address_action a.btn{ position: relative;
    display: block;
    width: 100%;
    background: #fff;
    height: 50px;
    border-radius: 50px;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px;
    line-height: 50px;
    padding: 0 20px;
}#address1 li  span {
    float: right;
    font-size: 16px;
}#address1 li .radio_address.active{background: #2995cc; color: #fff}
.address_action a{font-size: 16px; text-align: center;letter-spacing: 2.9px; color: #fff}
.address_action a.dark-btn{ background: #001b29 }
.address_action a.blue-btn{ background: linear-gradient(to bottom, #29adcc, #2995cc); }
#address1 ul {
    margin: 50px 0;
}
.radio_address input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}.radio_address input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    top: 0;
}.radio_address label {
    display: block;
    margin: auto;
}
#address1 .modal-dialog{width: 375px; max-width: 375px;}
.product_order_outer .product-timeline{  width: 100%; }
.product-timeline .timeline{ width: 100%; }
.product_order_outer h3 {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
}
.product_order_outer h4 {
    color: #2995cc;
    font-size: 19px;
    font-weight: 700;
    margin: 10px 0 0;
}.product_order_outer h5 {
    font-size: 13px;line-height: 26px;
    color: #fff;
    margin: 10px 0 0;
}.product_order_outer li {
    margin: 0 0 30px;
}.order_address_action a.btn{text-align: center; background: transparent; border:solid 1px #2995cc; color: #2995cc}
.order_address_action a.blue-btn{background: #2995cc; color: #fff}
.order_address_action{ margin-top: 30px; }
.product_order_outer .col-md-4 {
    padding: 0 50px;
}.product_order_outer {
    margin-bottom: 50px;
}
.product_order_outer .product-timeline .timeline li.active-tl::before {
    background: #00b940;
    color: #fff;
}
.product_order_outer .product-timeline .timeline li.active-tl + li::after {
    background: #00b940;
}

.order_btn:before,.pink_print li:last-child span::before,.yellow-print li:last-child span::before,.blue_print li:last-child span::before {
    position: absolute;
    content: "";
    width: 232px;
    height: 232px;
    border-radius: 50%;
    left: -63px;
    top: -16px;
    z-index: -1;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    background: url(../images/bg1.png) center;
        background-size: auto;
    background-size: 100%;
    transition: 0.6s;
}
.yellow-print li:last-child span::before{background-image: url(../images/bg2.png)}
.pink_print li:last-child span::before{background-image: url(../images/bg3.png)}
.order_btn:before{background-image: url(../images/bg4.png);top: -43px;}
.notes_detail_box {
    width: 343px; float: left;
    background: #fff;
    border-radius: 20px;
}
.notes_top .product_box{ background: none }
.notes_top{background: #f4f4f4; border-radius: 20px 20px 0 0;padding: 8px 0;}
.notes_bottom {    padding: 20px 25px 20px;}
.notes_bottom h4{font-size: 16px; font-weight: 700; margin: 5px 0;}
.notes_detail {
    width: 50%;
    margin: auto;
}.order_btn::after {
    position: absolute;
    content: "";
    background: #fff;
    width: 140px;
    height: 3px;
    left: -140px;
}

#prefix__Printt_Houses_Icon path,#start #prefix__Empty_printirie ellipse{-webkit-transition: all 0.6s ease-in-out;
-moz-transition: all 0.6s ease-in-out;
transition: all 0.6s ease-in-out;}
#start #prefix__Empty_printirie:hover #prefix__Printt_Houses_Icon path{fill:#fff !important;}
#start #prefix__Empty_printirie:hover ellipse{fill:#088DB3 !important;}

#start svg:hover {
    
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
}
.btn-primary {
    color: #fff;
    background-color: #299acc;
    border-color: #299acc;
}
.btn{position: relative;overflow: hidden; z-index: 2;-moz-transition: all 0.3s;transition: all 0.3s;}
.btn:after ,.btn:before {    content: '';    position: absolute;    z-index: -1;    -webkit-transition: all 0.3s;  -moz-transition: all 0.3s;  transition: all 0.3s;}

.btn.primary-btn:hover,.btn.btn-primary:hover{color: #001C2A !important; background: none !important; border-color: #001C2A !important; letter-spacing: 2px;}
.right_sidebar .btn.primary-btn:hover{color: #fff !important; background: none !important; border-color: #29A9CC !important; }

/* Wobble Top */
@-webkit-keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

.custom_print_inner img:hover, .hvr-wobble-top:focus, .hvr-wobble-top:active {
  -webkit-animation-name: hvr-wobble-top;
  animation-name: hvr-wobble-top;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


.custom_print_inner img {
    
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

@-webkit-keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
#flow_option li .img_box img {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
#flow_option li .img_box:hover img {
   -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}.buttonBox {
    position: relative;
    
}.login-btn .border:nth-of-type(1) {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 1px solid white;
}
.border {
    position: absolute;
    background: none;opacity: 0;
    transition: all .5s ease-in-out;
}.login-btn .border:nth-of-type(2) {
    top: 0;
    right: 0;
    width: 0px;
    height: 0;
    border-right: 1px solid white;
}.login-btn .border:nth-of-type(3) {
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 1px solid white;
}.login-btn .border:nth-of-type(4) {
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 1px solid white;
}.login-btn:hover .border:nth-of-type(1) {
    width: 100%;opacity: 1;
}.login-btn:hover .border:nth-of-type(2) {
    height: 100%;opacity: 1;
}.login-btn:hover .border:nth-of-type(3) {
    width: 100%;opacity: 1;
}.login-btn:hover .border:nth-of-type(4) {
    height: 100%;opacity: 1;
}.login-btn button:hover{background: none;}

#resetPassForm {
    background: #29A9CC;
    width: 400px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
}#resetPassForm .form-control {
    margin: 0 0 10px;
}.select_panetry {
    color: #fff;
    font-size: 25px;
    position: relative;
    float: left;
    top: -25px;
    font-weight: 700;line-height: 27px;
    margin-right: 15px; cursor: pointer;
}.select_panetry i {
    position: absolute;
    left: -40px;
}.form-group {
    position: relative;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #440588 ;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
#panetry_selection button.close{z-index: 9999;
position: absolute;
right: 10px;
top: 10px;}
.dropdown-toggle::after{display: none;}


.gmail-input {
    position: relative;
}

.gmail-input svg {
    position: absolute;
    top: 5px;
    right: 6px;
    color: #00b940;
    z-index: 999;
    font-size: 29px;
}

input.form-control:hover {
    border: 1px solid #fff !important;
    border: solid;
}

input.form-control:focus {
    outline-color: #fff !important;
    border: 1px solid #fff !important;
    box-shadow: 0 0 1px #fff;
}
#user_registeration input.form-control:hover,#user_registeration input.form-control:focus{border: 1px solid #00B940 !important;}
.signup-form {
    margin-top: 0 !important;
}

.vandor-btn {
    display: block;
}

.vander-area{
    display: none;
}

/*orders-page*/


.save-order-area h5 {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.19;
    letter-spacing: normal;
    text-align: left;
    color: #f4f4f4;
    text-transform: uppercase;
}

.save-order-box {
    width: 168px;
    height: 162px;
    padding: 10px 9.5px 7.5px 20px;
    object-fit: contain;
    border-radius: 20px;
    background-color: #d50880;
}

.save-order-heading {
    display: flex;
    justify-content: space-between;
}

.save-order-heading h4 {
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #f4f4f4;
    padding-top: 9px;
}

.save-order-content h6 {
   
    font-family: Nunito;
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: white;
    padding-top: 7px;
}

.save-order-content p {
    object-fit: contain;
    font-family: Nunito;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: white;
    padding-top: 10px;
}

.save-order-content button {
    width: 46px;
    height: 46px;
    background-color: #001b29;
    border: none;
    border-radius: 30px;
    color: white;
}

.save-order-content a {
    float: right;
}

.save-order-area ul li {
   
    margin-right: 10px;
}

.save-order-area ul {
    display: flex;
}

.save-order-box-2 {
    background-color: #2995cc;
}


.save-order-heading i {
    color: white;
    font-size: 24px;
}

.save-order-box-3 {
    background-color: #e6d821;
    color: #001b29 !important;
}

.save-order-box-3 h4 , .save-order-box-3 p ,.save-order-box-3 h6 {
    color: #001b29 !important;
}

.order-page-area {
    padding: 0 15px;
}

.order-history-area .save-order-box {
    width: 145px;
    height: 150px;
    background-color: #f4f4f4;
}

.order-history-area .save-order-heading h4 {
    color: #00b940;
}
.order-history-area .save-order-content h6 {
    color: #001b29;
}

.order-history-area .save-order-content p {
    color: #001b29;
}

.save-order-content h5 {
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: normal;
    text-align: left;
    color: #001b29;
}

.save-order-area.order-history-area {
    margin-top: 25px;
}
/*orders-page*/


/*30/12/2020*/

.number-area {
    text-align: center;
    margin: 52px 0px;
}       
    .number-area .minus, .plus {
    width: 55px;
    height: 55px;
    border-radius: 30px;
    border: 1px solid #001829;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    font-size: 42px;
    background: #001829;
    color: white;
    opacity: 0.4;
    transition: 0.7s;
        cursor: pointer;
}

.number-area .minus:hover, .plus:hover{
    opacity: 1;
} 
        
    .form-input {
    width: 113px !important;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #919ba2;
    margin: 0 10px;
    font-size: 22px;
}
      
      
      .input-number-area {
    width: 458px;
    height: 325px;
    padding: 3.5px 14.8px 3px 14.2px;
    object-fit: contain;
    border-radius: 20px;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.16);
    background-color: #f4f4f4;
}
.input-number-area h5{
  display: block;
    text-align: center;
    width: 100%;
     opacity: 0.36;
  font-family: Nunito;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 2.9px;
  color: #000000;
    }
    
    .input-number-area .modal-header {
    background: transparent;
    color: #fff;
   position: relative;
}
.input-number-area .modal-header button {
    position: absolute;
    right: 10px;
    top: 6px;
    color: black !important;
    font-size: 40px;
}   
/*
.input-number-area .modal-footer button {
    background-image: linear-gradient(to bottom, #29adcc, #2995cc);
    width: 153px !important;
    height: 58px !important;
    border-radius: 20px !important;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 3.99px;
}*/

.input-number-area .modal-footer button {
    background-image: linear-gradient(to bottom, #29adcc, #2995cc);
    width: 180px !important;
    height: 48px !important;
    border-radius: 20px !important;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0;
} 
.input-project-area h5 {
    font-family: Nunito;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 3.99px;
    text-align: center;
    color: #001b29 !important;
    opacity: 1;
}
.project-name-area .form-control {
    width: 281px;
    height: 50px;
    background: #ffffff !important;
    margin: auto;
    opacity: 1;
    text-align: center;
    margin-top: 30px;
}
/*.project-m-footer button:last-child {*/
/*    border: 1px solid #d50880;*/
/*    background: transparent;*/
/*    color: #d50880;*/
/*}*/

.vander-area .signup-form {
    margin-top: 18% !important;
}

/*02/01/2021*/

.cart-scrollbar {
    margin-left: 0;
    overflow-y: scroll;
    margin-bottom: 0;
    height: 400px;
}

#cart-style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius:40px !importnat;
  background-color: #f5f5f5;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
 
}

#cart-style::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#cart-style::-webkit-scrollbar-thumb {
  border-radius: 40px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(101deg, #29adcc, #2995cc 100%);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.ptype {
    color: #fff;
    position: absolute;
    right: -37px;
    font-size: 16px;
    font-weight: 600;
}
.ptype1 {
    right: 42%;
    top: 75%;
}
.pcopy {
    right: -43px;
}

.psize1 {
    right: 40%;
    top: 75%;
}
.pcopy1 {
    right: 40%;
    top: 93%;
}

.pwidth1 {
    right: 42%;
    top: 75%;
}
.psides1 {
    right: 38%;
    top: 75%;
}


.genderDiv label img {
    width: 60px;
}

.genderDiv h4 {
    color: white;
    font-size: 18px;
    padding: 8px 0;
}
              /* HIDE RADIO */
.genderDiv [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.genderDiv [type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
 .genderDiv [type=radio]:checked + img {
  outline: none;
}

/*07/01/2021*/

.man-black {
    display: none;
    transition: 0.2s;
}
.women-white {
    display: none;
    transition: 0.2s;
}
.man-label {
    background: white;
    border-radius: 15px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 59px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    padding: 8px 0;
}
.man-label:hover .man-image {
    background-image: url(../images/man.png);
}

.man-label.active .man-image {
    background-image: url(../images/man.png);
    
}

.man-image {
    background-image: url(../images/man-black.png);
    width: 35px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
}


i {
    cursor: pointer !important;
}


.man-label:hover {
    background: #2995cc;
}
.genderDiv .active {
    background: #2995cc !important;
}


.man-label:focus {
    background: #2995cc;
}

.woman-label {
    background: white;
    border-radius: 15px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 59px;
    margin-right: 15px;
    transition: 0.3s;
    position: relative;
    padding: 12px 0px;
        cursor: pointer;
}
.woman-label:hover {
    background:  #2995cc;
}
.woman-label:focus {
    background:  #2995cc;
}


.woman-label:hover .woman-image {
    background-image: url(../images/woman-white.png);
}
.woman-label:focus .woman-image {
    background-image: url(../images/woman-white.png);
}
.woman-label.active .woman-image {
    background-image: url(../images/woman-white.png);
}

.woman-image {
    background-image: url(../images/woman.png);
    width: 35px;
    height: 35px;
    background-size: cover;
    background-repeat: no-repeat;
}
ul.pro_product_col1 {
    width: 100% !important;
    float: left !important;
}


.select_services_inner a:focus .product_box:after {
       background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    border-radius: 24px;
    z-index: 99999;
}
.select_services_inner a:hover .product_box:after {
     background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    border-radius: 24px;
    z-index: 99999;
}

.checkout{
    text-align: center;
    background: transparent !important;
    border: solid 1px #2995cc;
    color: #2995cc;
    position: relative;
    display: block;
    width: 100%;
    background: #fff;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px;
    line-height: 50px;
    padding: 0 20px;
    width: 100%;
}

.checkout:hover, .saveorderbtn:hover, .continueshop:hover {
    background: #2995cc !important;
    color: white !important;
    border: none !important;
    transition: 0.3s;
}

.backbtn {
    left: 0 !important;
    border: 0;
    border-radius: 25px 0 0 25px;
    border-right: 2px solid black;
}
#form-button-toggle .login-arrow{right: -100px; opacity:0;transition: all ease-in-out .8s; position: relative;}
#form-button-toggle.open .login-arrow{right: 265px;opacity: 1;  }
#form-button-toggle.open .hamburger{display: none;}

/*----*/
#plz_login_modal .modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    text-align: center;
}

#plz_login_modal .modal-body button{
    width: 200px !important;
    margin: auto;
    border-radius: 73px !important;
    padding: 10px;
    height: auto;
    text-transform: uppercase;
    text-align: center;
}

/*09/12/2021*/

span#login-back-btn {
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #f4f4f4;
    cursor:pointer;
}

.select-area-inner .select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select-area-inner .select {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 30px;
    height: 50px;
    padding: 10px 20px;
    background: none !important;
}
.select-area-inner .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    padding: 13px 15px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
       border-radius: 22px 22px 0px 0;
}
.select-area-inner .select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #000000 transparent transparent transparent;
    position: absolute;
    top: 22px;
    right: 19px;
}

.select-area-inner .select-styled:active, .select-area-inner .select-styled.active {
    background-color: white;
    color: #299acc;
    border: 1px solid #ced4da;
}
.select-area-inner .select-styled:active:after, .select-area-inner .select-styled.active:after {
    top: 15px;
    border-color: transparent transparent #070707 transparent;
}

.select-area-inner .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
   background-color: #ffffff;
    border-radius: 0 0 22px 22px;
    overflow:hidden;
}
.select-area-inner .select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid #ced4da;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    color: #299acc;
    border: 1px solid #ced4da;
    border-top: none;
}
.select-area-inner .select-options li:hover {
    color: #f4f4f4;
    background: #299acc;
}
.select-area-inner .select-options li[rel="hide"] {
  display: none;
}


/*14/01/2021*/

.profile-area {
    width: 900px;
    margin: auto;
    background: white;
    padding: 0;
    box-shadow: 0 0 10px #345d72;
    border-radius: 10px;
}

.profile-area .signup-form .form-control {
    margin-bottom: 10px;
    height: 50px;
    font-size: 15px;
    background: #001b29;
    color: #6c7581;
    transition: 0.5s;
    border-radius: 10px;
    border: solid 1px #6c7581 !important;
    background-color: transparent;
}
.profile-social-icon .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.profile-social-icon .fa-facebook {
  background: #3B5998;
  color: white;
}

.profile-social-icon .fa-twitter {
  background: #55ACEE;
  color: white;
}
.profile-social-icon .fa-linkedin {
  background: #007bb5;
  color: white;
}



.profile-social-icon .fa-instagram {
  background: #125688;
  color: white;
}
.profile-update-btn button {
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.03);
    background-image: linear-gradient(98deg, #29adcc 0%, #2995cc);
    border: none;
    width: 20%;
    height: 40px;
    border-radius: 12px;
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
    margin: 20px 0px;
    text-transform: capitalize;
}
.profile-update-btn {
    text-align: center;
}

button.update-btn {
    margin-right: 15px;
}
.name-details h6 {
    text-align: center;
    width: 24%;
    padding: 6px 7px;
    margin-bottom: 10px;
    color: white;
    background-image: linear-gradient(98deg, #29adcc 0%, #2995cc);
    text-transform: capitalize;
}
.name-details h4 {
    font-size: 24px;
    color: #5d5d5d;
    text-transform: capitalize;
    margin-bottom: 2px;
   
}
.name-details h4 span {
    font-weight: bold;
    color: black;
}
.name-details p {
    font-size: 13px;
    color: #29abcc;
}
.name-details {
    padding-bottom: 10px;
    border-bottom: 1px solid #5d5d5d;
    margin-bottom: 10px;
}
.all-personal-details ul li {
    padding: 10px 0;
}

span.first-id {
    font-weight: bold;
    text-transform: uppercase;
    color: #299bcc;
    font-size: 17px;
}
span.secound-id {
    float: right;
    color: darkgrey;
    font-size: 15px;
}
.profile-signup .sign-up-button button {
    height: 40px !important;
    font-size: 18px !important;
    margin-bottom: 20px !important;
    width: 20%;
    margin: auto;
    display: block;
}
.address-area .sign-up-button button {
    height: 40px !important;
    font-size: 18px !important;
    margin-bottom: 20px !important;
    width: 20%;
    margin: auto;
    display: block;
}
.personal-img {
    background: #2999cc;
    padding: 4px;
}

.order-details-area .invoice-box-right {
    width: 100%;
    margin-left: auto;
}

.order-details-area {
    width: 800px;
    margin: auto;
}

.print-shop-area h4 {
    color: white;
}

.profile-area .tab-content {
    margin-top: 0;
    padding: 25px 45px;
    padding-top: 15px;
}
.profile-area .nav.nav-tabs {
    background-image: linear-gradient(98deg, #29adcc 0%, #2995cc);
}
.profile-area .nav-item {
    width: 25%;
    padding: 15px 20px;
}

.profile-area .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #299acc;
    background-color: #ffffff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-radius: inherit;
    text-align: center;
}
.profile-area .nav-link {
    text-align: center;
    text-transform: capitalize;
    color: white;
    transition: 0.5s;
}
.profile-area .nav-link:hover {
    border-radius: 0 !important;
    background: white;
    color: #2997cc;
}

h4.profile-heading {
    color: #2996cc;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 25px;
}
.add-address .sign-up-button button {
    height: 40px !important;
    font-size: 18px !important;
    margin-bottom: 20px !important;
    width: 20%;
    margin: auto;
    display: block;
}
.shipping-area h4 {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #f4f4f4;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.shipping-area ul li {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #f4f4f4;
    padding-bottom: 11px;
}
.shipping-area {
    margin-bottom: 10px;
}
.shipping-area ul li span {
    padding-left: 10px;
}


/*14/01/2021*/

   .quant-btn span {cursor:pointer; }
        
        .quant-btn .minus, .quant-btn .plus {
    width: 25px !important;
    height: 25px;
    background: #29a7cc !important;
    border-radius: 4px;
    padding: 8px 5px 8px 5px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 6px;
    font-size: 18px !important;
    color: white;
}
  .quant-btn input {
    height: 25px;
    width: 40px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    vertical-align: middle;
}

.quant-btn {
    text-align: left;
    margin: 10px 0;
}

.more_product_img.more-product-area {
    width: 50%;
    padding: 15px 10px
}

.more_product_content.more-content-area {

    width: 50%;
    margin:0 !important;
}

.more_product_img.more-product-area img {
    height: 80px;
}

.more_product_box {
    position: relative !important;
}
      
 .more_product_box input.product {
    position: absolute;
    opacity: 0;
}      



input.nest-button {
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.03);
    background-image: linear-gradient(98deg, #29adcc 0%, #2995cc);
    border: none;
    width: 25%;
    height: 40px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
    margin-top: 10px;
}

.moreproduct_ul li.active {
    border: 2px solid #29a7cc !important;
}

.error {
    padding-top: 15px !important;
}