/*large-laptop-screen-start*/
@media only screen and (min-width: 1400px) and (max-width: 1600px){

}
/*large-laptop-screen-end*/


/*laptop-screen-start*/
@media only screen and (min-width: 1200px) and (max-width: 1399px){

}
/*laptop-screen-end*/


/*mini-laptop-screen-start*/
@media only screen and (min-width: 992px) and (max-width: 1199px){

}
/*mini-laptop-screen*/


/*tablet-start*/
@media only screen and (min-width: 768px) and (max-width: 991px){

}
/*tablet-end*/


/*mobile-screen-start*/
@media only screen and (min-width: 300px) and (max-width: 767px){

}
/*mobile-screen-end*/